:root {
  --branding-color: #4285f4;
  --secondary-color: #db4437;
  --tertiary-color: #f4b400;
  --quaternary-color: #0f9d58;
}

.App {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  text-align: center;
  margin: 248px 30px -23px;
}

.App .container {
  max-width: 930px;
}

.App .blue {
  color: var(--branding-color);
}

.App .red {
  color: var(--secondary-color);
  font-weight: bold;
}

.App .yellow {
  color: var(--tertiary-color);
}

.App .green {
  color: var(--quaternary-color);
}

.App h1 {
  font-size: 84px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -3px;
}

.App a {
  text-decoration: none;
}

.App-footer {
  text-align: center;
  margin: 30px;
}

.App .lighten {
  opacity: 0.6;
}

@media (max-width: 568px) {
  .App h1 {
    font-size: 70px;
  }
}

@media (max-width: 380px) {
  .App h1 {
    font-size: 55px;
  }
}
