.Dictionary {
  max-width: 930px;
}

.Dictionary section {
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  padding: 30px;
  margin: 20px 0;
  border-radius: 6px;
}

.Dictionary .form {
  padding: 30px;
  box-shadow: none;
}

.Dictionary .fa-magnifying-glass {
  position: absolute;
  margin: 22px 17px;
  opacity: 0.5;
}

.Dictionary input {
  height: 45px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 6px 45px;
  margin-bottom: -11px;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}

.Dictionary input::placeholder {
  color: #0f9d58;
  font-weight: bold;
}

.Dictionary .search-bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.Dictionary .search-bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

/* input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url("close.png");
} */

/* .Dictionary .hint {
  font-size: 12px;
  margin-top: 5px;
} */

@media (max-width: 670px) {
  .Dictionary input {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .Dictionary input {
    width: 416px;
  }
}

@media (max-width: 475px) {
  .Dictionary input {
    width: 350px;
  }
}

@media (max-width: 430px) {
  .Dictionary input {
    width: 291px;
  }
}

@media (max-width: 380px) {
  .Dictionary input {
    width: 245px;
  }
}
