.Meaning h3 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2px;
  font-size: 24px;
}

.Meaning .definition {
  margin-bottom: 3px;
}

.Meaning .example {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 50px;
}

.Meaning .synonym {
  line-height: 1.5;
  margin-bottom: -11px;
  color: #0f9d58;
  font-weight: bold;
}

@media (max-width: 588px) {
  .Meaning .example {
    margin-bottom: 30px;
  }
}
