/* .Phonetic {
  height: 60px;
} */

.Phonetic .fa-headphones-simple {
  margin: 20px 10px;
  color: #f4b400;
  position: relative;
  left: -10px;
}

Phonetic .phonetic-text {
  position: relative;
  left: -10px;
}

.Phonetic .red {
  background: var(--secondary-color);
}
