:root {
  --branding-color: #4285f4;
  --secondary-color: #db4437;
  --tertiary-color: #f4b400;
  --quaternary-color: #0f9d58;
}

/* .Phonetic {
  height: 60px;
} */

.Phonetic .fa-headphones-simple {
  margin: 20px 10px;
  color: #f4b400;
  position: relative;
  left: -10px;
}

Phonetic .phonetic-text {
  position: relative;
  left: -10px;
}

.Phonetic .red {
  background: var(--secondary-color);
}
