:root {
  --branding-color: #4285f4;
  --secondary-color: #db4437;
  --tertiary-color: #f4b400;
  --quaternary-color: #0f9d58;
}

.Phonetic {
  height: 60px;
}

.Phonetic .red {
  background: var(--secondary-color);
}
